*.pyc
*.pyo
*.swp
*.db
*.sqlite
*.mariadb
*.tar
*.zip
*.gz
__pycache__/
node_modules/
sites/*/public/files/
sites/*/private/files/
sites/*/backups/
sites/*/locks/
sites/*/db.sqlite*
sites/assets/
sites/env/
*.log
*.pid
*.sock
sites/*/site_config.json
